:root {
  --white: #ffffff;
  --black: #0a0a0a;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 20px;
  --lg: 40px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.header {
  background-color: #111011;
  width: 100%;
}

.title {
  color: #f7e018;
  display: grid;
  place-content: center;
  font-size: var(--lg);
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 20px 0 10px 0;
}

.sub-title {
  color: #f7e018;
  display: grid;
  justify-content: center;
  font-size: var(--md);
  padding: 0;
}

.title-card {
  font-size: var(--md);
  text-align: center;
}

.geometry-info-description p:nth-child(1) {
  font-size: var(--sm);
}

.cards-container {
  min-width: 328px;
  padding: 8px;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 28px;
}

.product-card {
  width: 240px;
}

.geometry-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}

.header div img:nth-child(2) {
  padding: 0 0 0 10px;
  width: 50px;
  height: 50px;
  border-radius: 0px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: size;
}

.description {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.img-responsive {
  height: 100%;
  margin-bottom: 0;
}

/* Code button and text */

.buttons-group {
  display: grid;
  place-content: center;
  grid-template-rows: auto 1fr auto;
  width: auto;
}

.buttons-group input {
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  height: 20px;
  width: 95%;
}

.buttons-group button {
  background-color: #f7e018;
  border-radius: 5px;
  border: none;
  color: black;
  width: 100%;
  cursor: pointer;
  font-size: var(--sm);
  font-weight: bold;
  padding: 5px;
  margin-top: 10px;
}
/* @media (min-width: 350px){

    .header {
        
        width: 500%px;
    }

    .title h1 {
        font-size: 10px;
    }
} */
